{% extends "main.html" %}

{% block content %}
<div id="adcast-wrap" class="content overflow">
  <div class="overflow">
    <ul id="adcast">
      <li class="adcast-item is-active">
        <a href="/sacada-e-sala"><img src="/images/slideshow/sacada-1.png" alt="Móveis para área externa" /></a>
      </li>
      <li class="adcast-item">
        <a href="/sacada-e-sala"><img src="/images/slideshow/sala-1.png" alt="Rack de tv planejados" /></a>
      </li>
      <li class="adcast-item">
        <a href="/apartamento-planejado"><img src="/images/slideshow/cozinha-1.png" alt="Armário suspenso da cozinha" /></a>
      </li>
      <li class="adcast-item">
        <a href="/apartamento-planejado"><img src="/images/slideshow/mesa-de-jantar-3.png" alt="Mesa de jantar sob medida" /></a>
      </li>
    </ul><!-- #adacst -->
    <div id="pager">
      <span class="pager-item fleft is-active" data-adcast="0"></span>
      <span class="pager-item fleft" data-adcast="1"></span>
      <span class="pager-item fleft" data-adcast="2"></span>
      <span class="pager-item fleft" data-adcast="3"></span>
    </div><!-- #pager -->
    <img src="images/blank.gif" alt="" id="adcast-gif" width="1060" height="500">
  </div><!-- .overflow -->
</div><!-- #adacst-wrap -->


<div class="content main">
  <h2>Quem sou ?</h2>
  <p>Me chamo <strong>Ronaldo Barbosa</strong> e sou marceneiro a mais de 40 anos. Tenho grande experiência com madeira e <strong>móveis planejados</strong>.</p>
  <p>Realizo projetos, consertos e instalações de todos os tipos.</p>
</div>


<div class="content main">
  <h2>Trabalhos</h2>

  <ul class="work-items overflow">
    <li class="fleft">
      <a href="/apartamento-planejado">
        <img src="/images/trabalhos/apartamento/thumbs/armario-quarto-casal-2.jpg" alt="Apartamento planejado" />
        <span class="work-item-description">Apartamento planeja</span>
      </a>
    </li>
    <li class="fleft">
      <a href="/armario-suspenso-cozinha">
        <img src="/images/trabalhos/cozinha/thumbs/cozinha-1.jpg" alt="Cozinha" />
        <span class="work-item-description">Cozinha</span>
      </a>
    </li>
    <li class="fleft">
      <a href="/moveis-sob-medida">
        <img src="/images/trabalhos/diversos/thumbs/area-de-servico-1.jpg" alt="Área de Serviço" />
        <span class="work-item-description">Área de Serviço</span>
      </a>
    </li>

    <li class="fleft">
      <a href="/moveis-planejados-do-quarto">
        <img src="/images/trabalhos/quarto/thumbs/quarto-1.jpg" alt="Quarto" />
        <span class="work-item-description">Quarto</span>
      </a>
    </li>
    <li class="fleft">
      <a href="/sacada-e-sala">
        <img src="/images/trabalhos/sacada-e-sala/thumbs/frigobar-1.jpg" alt="Frigobar da sala" />
        <span class="work-item-description">Frigobar da sala</span>
      </a>
    </li>
  </ul>
</div>


<div class="content main">
  <h2>Contato</h2>
  <p>Me ligue no telefone <a href="tel:11945250660">(11) 9 4525-0660</a> para fazer o seu orçamento.</p>
</div>


<script src="/javascript/slideshow.js"></script>
<script>
(function() {
    "use strict";
    /*global document:false */
    var $ = function(selector) {
        return document.querySelectorAll(selector);
    },
        $adcasts = $('.adcast-item'),
        $pagers = $('.pager-item');
    adcast.init({
        adcasts: $adcasts,
        pagers: $pagers,
        auto: true
    });
}());
</script>
{% endblock %}
