{% extends "main.html" %}

{% block content %}
<div class="content main">
  <h2>{{ title }}</h2>

  <ul class="work-items overflow">
  {% for item in items %}
    <li class="fleft">
      <a href="{{ path }}/{{ item.image }}" title="{{ item.name }}" class="modal-open">
        <img src="{{ path }}/thumbs/{{ item.image }}" alt="{{ item.name }}" />
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

<div class="modal-content modal-1 modal-close">
  <img src="${ image }" alt="${ title }" />
</div><!-- .modal-content -->

<script src="/javascript/modal.js"></script>
<script>
(function() {
  'use strict';

  /*global document:false */

  modal.init({
    content: '.modal-1',
    btOpen: document.querySelectorAll('.modal-open'),
    overlay: document.querySelector('#overlay')
  });

}());
</script>

{% endblock %}
